body {
    font-family: 'Do Hyeon';
    font-size: 1.5rem;
    text-align: center;
}

.header{
    width: 100%;
    text-align: center;
}

.header-title{
    font-size: 4rem;
    margin: 2rem;
}

#search-text{
    margin: 0 auto;
    width: 50%;
    height: 2.5rem;
    font-size: 2rem;
}

#search-button, #add-word, #formSubmit{
    line-height: 1;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: mediumpurple;
}

#add-word{
    display:none;
    font-size: 1rem;
}

#formSubmit, #formMeaning, #formWord{
    font-size: 1rem;
}

#addWordForm{
    display:none;
    padding: 2rem;
}

#word{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}